{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {% if category %}{{ category.title }}{% else %}Data View{% endif %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="product-detail">
        <h3>Name: {{ dataview.name }}</h3>
        <h3>Dataset: {{ dataview.dataset }}</h3>
        <h3>Transformations:</h3>
        {% if dataview.transformations %}
            <ol>
                {% for transformation in dataview.transformations.all %}
                    <li>{{ transformation.name }}</li>
                {% endfor %}
            </ol>
        {% endif %}
        <h3>Data Types:</h3>
        {{ datatypes|safe }}
        <h3>Preview:</h3>
        {{ datavalues|safe }}
    </div>
</div>
{% endblock %}