{% extends "shop/base.html" %}
{% load static %}

{% block title %}
	{% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-9">
        <h1>Data Sets</h1>
        <ul>
            {% for dataset in datasets %}
            <li>
                <a href="{{ dataset.get_absolute_url }}">{{ dataset.name }}</a>
            </li>
            {% endfor %}
        </ul>
            <div id="main" class="product-list">
                <div class="product-list">
                    <h1>Data Views</h1>
                        <ul>
                            {% for dataview in dataviews %}
                                <li><a href="{{ dataview.get_absolute_url }}">{{ dataview.name }}</a></li>
                            {% endfor %}
                        </ul>
                </div>
            </div>
        <div id="main" class="product-list">
            <div class="product-list">
                <h1>Analyses</h1>
                    <ul>
                        {% for analysis in analyses %}
                        <li><a href="{{ analysis.get_absolute_url }}">{{ analysis.title }}</a></li>
                        {% endfor %}
                    </ul>
            </div>
    </div>
</div>
{% endblock %}